/*
font family 
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Titillium+Web&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Titillium+Web&display=swap");

/*
common style 
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.all-section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #121212;
}
.donate-btn {
  /* background: #ff5959; */
  background: rgba(255, 89, 89, 0.84);
  border-radius: 20px;
  width: 130px;
  height: 45px;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border: transparent;
}

.donate-btn:hover {
  border: 3px solid #fa3e3e;
  transition: 0.2s ease-in-out;
}
.contribute-btn {
  background: #ff5959;
  border-radius: 5px;
  width: 175px;
  height: 48px;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/*
header section and navigation all styles 
 */

header {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.06);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

nav span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav > a {
  text-decoration: none;
  background: rgba(79, 157, 166, 0.1);
  padding: 5px;
  border-radius: 5px;
}
nav a span img {
  width: 70px;
  height: 70px;
}
nav a span p {
  font-weight: bolder;
  color: black;
  font-size: 17px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 20px;
  border: 2.2px solid transparent;
  background: rgba(255, 89, 89, 0.1);
}
nav ul li:hover {
  border: 2.2px solid #fa3e3e;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: rgb(28, 27, 27);
}

/*
hero section 
 */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  background-image: url("images/heroBannar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .hero-heading {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  text-align: center;
  color: white;
  margin: 157px 285px 20px 328px;
}
.hero-section .hero-description {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: white;
  margin: 0 352px 30px 396px;
  color: white;
}

/*
Today donate section 
 */

.today-donate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-title {
  margin-top: 130px;
  text-align: center;
}

.today-donate-description {
  margin: 20px 300px 50px 300px;
  text-align: justify;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #707070;
}

.today-donate .today-donate-amounts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.today-donate .today-donate-amounts .amount {
  width: 135px;
  height: 123px;
  background: #fafafa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-donate .today-donate-amounts .amount h4 {
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  color: #707070;
}

.today-donate .today-donate-amounts .today {
  width: 162px;
  height: 150px;
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
}

.today-donate .today-donate-amounts .today .today-donation {
  font-weight: 700;
  font-size: 33px;
  line-height: 36px;
  color: #ff5959;
}

.today-donate .other-amount {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #b3b3b3;
  margin: 60px 0 10px 0;
}

.today-donate hr {
  border: 1px solid #dadada;
  width: 765px;
  height: 0px;
  margin: 30px auto;
}
.today-donate span {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
Donate plan section styles 
 */

.donate-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-plan .donate-plan-heading {
  margin-top: 130px;
}

.donate-plan .donate-plan-description {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #707070;
  margin: 20px 300px 50px 300px;
}

.donate-plan .donate-plans {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.donate-plan .donate-plans .plans-one {
  width: 360px;
  height: 352px;
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
  padding: 63px 22px 54px 23px;
}

.donate-plan .donate-plans .plans-two {
  width: 360px;
  height: 352px;
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
  padding: 63px 22px 54px 23px;
}

.donate-plan .donate-plans .plans-three {
  width: 360px;
  height: 352px;
  background: #fff4d6;
  border-radius: 5px;
  padding: 63px 22px 54px 23px;
}

.donate-plans .plan-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #121212;
  margin: 31px 0 18px 0;
}

.donate-plans .plan-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #707070;
}

/*
How to contribution section styles 
 */

.contributions {
  display: flex;
  flex-direction: column;
}

.contributions .contribution-content-one {
  display: flex;
  gap: 83px;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 110px;
}

.contributions .contribution-content-one .content-one .contribution-title {
  text-align: left;
  margin-bottom: 20px;
}

.contributions
  .contribution-content-one
  .content-one
  .first-content-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 20px;
}
.contributions .contribution-content-one .content-one p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 30px;
}

.contributions .contribution-content-two {
  display: flex;
  gap: 83px;
  align-items: center;
}

.contributions .contribution-content-two .content-two .contribution-title {
  text-align: left;
  margin-bottom: 20px;
}

.contributions
  .contribution-content-two
  .content-two
  .first-content-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 20px;
}

.contributions .contribution-content-two .content-two p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 30px;
}

/*
Contact sections 
 */
.contact {
  display: flex;
  flex-direction: column;
}
.contact .contact-title {
  margin-top: 130px;
  margin-bottom: 20px;
}

.contact p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #707070;
  margin: 20px 300px 50px 300px;
}

.contact .contact-container {
  width: 809px;
  height: 200px;
  background: rgba(255, 89, 89, 0.1);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .contact-container input[type="email"] {
  width: 275px;
  height: 48px;
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: #aa9f9f;
  border: none;
  padding: 0 18px;
}

.contact .contact-container input[type="submit"] {
  width: 157px;
  height: 48px;
  border: none;
  background: #ff5959;
  border-radius: 0px 5px 5px 0px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/*
Footer section styles 
 */

footer {
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
  background: #0b0d17;
  margin-top: 130px;
}

footer h4 {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #ff5959;
}
footer small {
  font-weight: 400;
  font-size: 13.5px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}
